@model ModelCL.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details2</title>
</head>
<body>
    <div> 
        ProductID: @Model.ProductID
    </div>
    <div>
        Prudct Name: @Model.ProductName
    </div>
    <div>
        Unit Price: @Model.UnitPrice
    </div>
    <div>
        Units In Stock: @Model.UnitsInStock
    </div>
</body>
</html>
